# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.log

# Virtualenv
venv/
env/
.venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# Test
.coverage
htmlcov/
.tox/
.nox/

# Jupyter
.ipynb_checkpoints/

# Misc
*.swp
*.swo 